video {
	position:absolute;
    left:0;top:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	visibility: visible;
}
.text{
    position: relative;
    top: 75px;
    text-align: center;
	color: #fff;
	font-size: 3.5em;
	font-family: 'Amaranth', sans-serif;

}
.opacity    {
    position: absolute;
    background-color: black;
    opacity: .6;
    left:0;top:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	visibility: visible;

}

body {
    text-align: center;
}
#logobig    {
    height:250px;
    width:323px;
}
.logopadding    {
    padding-top:100px;
}
#scores {
    color: white;
    font-size: 2em;
}
/*.logonav    {*/
    /*background-color: white;*/
/*}*/
.logonav:hover {
    cursor:default;
    transform: rotate(360deg);
    transition: all .3s ease-in-out 0s;
}
.navbar {
    background: white;
    height: 50px;
    margin-bottom: 0px !important;
}

.nav
{
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.nav-item:
{
    float: left;
    *display:inline;
    zoom:1;
}
.nav-item a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-align: center;
}

.nav-item a:hover,{
    color:white;
    text-decoration: none;
}

ul.sub-menu {
    visibility: hidden;
    padding-left: 0px;
    background: white;
}

.sub-menu a:hover {
    text-decoration: none;
    color: white;
}

.nav-item:hover .sub-menu {
visibility:visible;
}
a:hover{
    text-decoration: none;
    color: white;
    background-color: #0285C9;
}
ul, ol {
    list-style: none;
}


#logo {
    align-items: baseline;
}


