body {
    background-color: black;
    padding-top: 70px;
    box-sizing: border-box;
}

.clearfix() {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.navbar {
    background-color: black;
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 0;
}

#baphomet {
    /*background-color: green;*/
    background-image: url("images/Baphomet.jpg");
    background-size: contain;
    height: 900px;
    background-position: center;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
}

#baphomet #touchdown {
    padding-top: 400px;
    padding-bottom: 40px;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 30px;
}

#weeklystats {
    color: white;
    padding-left: 0px;
    /*text-align: left;*/
}

.weekly h1 {
    text-align: left;
    ;
    font-size: 50px;
}

.weekly ol {
    text-align: left;
    font-size: 25px;
}


/*STANDINGS*/

#standings {
    text-align: center;
    padding: 20px;
}

#standingspic1 {
    height: 369px;
    width: 500px;
}

#standingspic2 {
    height: 369px;
    width: 603px;
}

.standingspage {
    padding-top: 5%;
}

.standingsheader {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.standingsheader h1 {
    font-size: 60px;
    font-family: 'Candal', sans-serif;
}


/*HISTORY*/

#history {
    text-align: center;
    padding: 20px 225px;
    color: white;
}

#history h1 {
    font-size: 60px;
    font-style: bold;
    font-family: sans-serif;
    padding-bottom: 25px;
}

#history p {
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 0px;
}


/*WEEKLY STATS*/

.weeklystatsheader {
    font-family: 'Candal', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-bottom: 30px;
}

#weeklystats {
    color: white;
    /*text-align: left;*/
}

.weekly img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.weekly h1 {
    /*text-align: left;*/
    font-size: 30px;
}

.weekly ol {
    /*text-align: left;*/
    font-size: 20px;
}


/*CHAMPIONS*/

#championsheader {
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

#championsheader h1 {
    font-size: 60px;
    font-family: 'Candal', sans-serif;
}

#championspic {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

#championspic img {
    border-radius: 100%;
    height: 350px;
    width: 350px;
}

#championspic h2 {
    margin-top: 5px;
}


/*CHICKEN BOWL*/

#chickenbowlheader {
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

#chickenbowlheader h1 {
    font-size: 60px;
    font-family: 'Candal', sans-serif;
}

#chickenbowlpic {
    text-align: center;
    color: white;
    padding-bottom: 100px;
}

#chickenbowlpiccody {
    border-radius: 5%;
    height: 800px;
    width: 450px;
}

#chickenbowlpicdoug {
    border-radius: 5%;
    height: 800px;
    width: 300px;
}

#chickenbowlpic h2 {
    margin-top: 5px;
}
