{% extends "landing.html" %}

{% block body %}

<p class="stat-text main-text">
    <br />Are you in the type of Fantasy League that may go above the normal NFL/ESPN/NotYourAverage Fantasy League? So are we...<br /><br />

Sure, you can get your stats and league information here. We want to get that for you!<br /><br />

But if you REALLY want to play/mess with friends, then you are in the right spot. We are the Fantasy Champs.<br /><br />

Has your league been around long enough to have  the top 5 season winners? Or long enough to find the statistical loser that needs to "pay" next year? Or maybe you're new neough that you have to bet who's the first draft pick? Let us help. We are here for fun and stats. We want to know the real champ in your league, not the one that talks a lot of crap.

</p>

{% endblock %}
