{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" href="/static/css/alltime.css">
{% endblock %}

{% block body_top %}

<h1>{{title}}</h1>
{% endblock %}

{% block body %}

    <table>
    {% for owner in result_list %}
    <tr>
        <td><a href="{{owner.idowners}}/teamnames">{{ owner.owner }}</a></td>
        <td>{{ owner.wins }}</td>
        <td>{{ owner.loss }}</td>
        <td>{{ owner.wins / (owner.wins + owner.loss)  }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}


