{% extends "landing.html" %}

{% block nav %}
<nav class="navbar navbar-fixed-top">
 <div class="nav">
   <ul class="nav navbar-nav">
     <li class="active nav-item"><a href="/ownersftg">Members</a></li>
     <li class="nav-item"><a href="#">Standings</a>
         <ul class="sub-menu ">
             <li><a href="/2016/standingsftg">2016</a></li>
             <li><a href="/2015/standingsftg">2015</a></li>
             <li><a href="/2014/standingsftg">2014</a></li>
         </ul></li>
     </ul>
     <ul class="nav navbar-nav">
                    <a href="/" class="" style="transform: scale(1); "><img style="height: 172px; width: 160px;" src="/../static/logos/fflogo.png" class="logonav"></a>
       </ul>
         <ul class="nav navbar-nav nav-item">
             <li class="nav-item"><a href="/alltimeftg">Top Stats</a></li>
             <li class="landing"><a href="/">Back to Home</a></li>
       </ul>
 </div>
</nav>

<!-- Hamburger Menu -->
<div class="hb">
    <a class="menu-bar" data-toggle="collapse" href="#menu"><img src="/../static/logos/fflogonav.png" /></a>
    <ul>
    <div class="collapse menu" id="menu">

            <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/ownersftg#">Members</a></li>
            <li class="nav-item"><a href="#">Standings</a>
                <ul class="sub-menu ">
                    <li><a href="/2016/standingsftg">2016</a></li>
                    <li><a href="/2015/standingsftg">2015</a></li>
                    <li><a href="/2014/standingsftg">2014</a></li>
                </ul></li>
            </ul>
            <li><a href="/alltimeftg">Top Stats</a>
            </li>
            <li class="nav-item"><a href="/">Back to Home</a></li>
        </ul>
    </div>
</div>

{% endblock %}

{% block body_top %}

<h1>{{title}}</h1>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" id="center">

    <table style="margin-top: 125px;" class="standings">
    <tr class="top5">
        <th class="row-1 row-owner top5">Member</th>
        <th class="row-2 row-win top5">Win</th>
        <th class="row-3 row-loss top5">Loss</th>
        <th class="row-4 row-percent top5">%</th>
    </tr>
    {% for owner in result_list %}
    <tr class="main-text">
        <td>{{ owner.owner }}</td>
        <td>{{ owner.wins }}</td>
        <td>{{ owner.loss }}</td>
        <td>{{ owner.percent }}</td>
    </tr>
    {% endfor %}

</table>
            </div>
        </div>
    </div>
<div>
{% endblock %}
