{% extends "landing.html" %}
{% block customstyle %}
    <link rel="stylesheet" href="/static/landing.css">
    <link rel="stylesheet" href="/static/homeftg.css">
{% endblock %}
{% block nav %}
<nav class="navbar navbar-fixed-top">
 <div class="nav">
   <ul class="nav navbar-nav">
     <li class="active nav-item"><a href="/ownersftg">Members</a></li>
     <li class="nav-item"><a href="#">Standings</a>
         <ul class="sub-menu ">
             <li><a href="/2016/standingsftg">2016</a></li>
             <li><a href="/2015/standingsftg">2015</a></li>
             <li><a href="/2014/standingsftg">2014</a></li>
         </ul></li>
     </ul>
     <ul class="nav navbar-nav">
                    <a href="/" class="" style="transform: scale(1); "><img style="height: 172px; width: 160px;" src="static/logos/fflogo.png" class="logonav"></a>
       </ul>
         <ul class="nav navbar-nav nav-item">
             <li class="nav-item"><a href="/alltimeftg">Top Stats</a></li>
             <li class="landing"><a href="/">Back to Home</a></li>
       </ul>
 </div>
</nav>

<!-- this is the "hamburger menu" -->
<div class="hb">
<a class="menu-bar" data-toggle="collapse" href="#menu"><img src="/static/logos/fflogonav.png" /></a>
<ul>
    <div class="collapse menu" id="menu">

            <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/ownersftg#">Members</a></li>
            <li class="nav-item"><a href="#">Standings</a>
                <ul class="sub-menu ">
                    <li><a href="/2016/standingsftg">2016</a></li>
                    <li><a href="/2015/standingsftg">2015</a></li>
                    <li><a href="/2014/standingsftg">2014</a></li>
                </ul></li>
            </ul>
            <li><a href="/alltimeftg">Top Stats</a>
            </li>
            <li class="nav-item"><a href="/">Back to Home</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
                    <th>
                    <h3 class="top5">Season<br>Top Scores</h3></th>
                            <table class="main-text standings">
                            {% for teams in top_list %}
                            <tr>
                                <td class="row-team">{{ teams.teamone }}</td>
                                <td class="row-score">{{ teams.teamonescore }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <th><h3 class="top5">Season<br>Lowest Scores</h3></th>
                            <table class="main-text standings">
                            {% for teams in low_list %}
                            <tr>
                                <td class="row-team">{{ teams.teamone }}</td>
                                <td class="row-score">{{ teams.teamonescore }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                </div>
            </div>
        </div>
</div>

{% endblock %}
