{% extends "landing.html" %}

{% block body %}
        <div class="container-fluid bodypadding">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="top5">Season<br>Top Scores</h3>
                            <table class="main-text standings">
                            {% for teams in top_list %}
                            <tr>
                                <td class="row-team">{{ teams.teamone }}</td>
                                <td class="row-score">{{ teams.teamonescore }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <h3 class="top5">Season<br>Lowest Scores</h3>
                            <table class="main-text standings">
                            {% for teams in low_list %}
                            <tr>
                                <td class="row-team">{{ teams.teamone }}</td>
                                <td class="row-score">{{ teams.teamonescore }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                </div>
            </div>
        </div>
</div>

{% endblock %}
