<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Fantasy Champs</title>
    <link rel="stylesheet" href="/../static/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/../static/logos/fflogoicon.ico" type="image/x-icon">

</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-fixed-top">
        {% if session["loggedin"] %}
        <div class="pull-left welcome">
            <p>{{session['firstname']}}</p>
        </div>
        {% endif %}

                <div class="nav">
                    <ul class="nav navbar-nav list-inline">
                    <li class="nav-item"><a href="#">Leagues</a>
                        <ul class="sub-menu ">
                            <li><a href="/hometdmpffl">TDMPFFL</a></li>
                            <li><a href="homeftg">For The Girls</a></li>
                        </ul>
                    </li>
                    {% if session["loggedin"] %}
                    <li class="active nav-item"><a href="/logout">Logout</a></li>
                    {% else %}
                    <li class="active nav-item"><a href="#ModalLogin" data-toggle="modal" data-target="#ModalLogin">Login</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav">
                    <a href="/" class="" style="transform: scale(1); "><img style="height: 172px; width: 160px;" src="static/logos/fflogo.png" class="logonav"></a>
                </ul>
                <ul class="nav navbar-nav nav-item">
                    <li><a href="#">Sign Up</a>
                        <ul class="sub-menu">
                            <li><a href="#ModalRegister" data-toggle="modal" data-target="#ModalRegister">Register - Free</a></li>
                            <li><a href="/premium">Register -Premium</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>

<!-- this is the "hamburger menu" -->
    <div class="hb">
        <a class="menu-bar" data-toggle="collapse" href="#menu"><img src="/../static/logos/fflogonav.png" /></a>
        <ul>
    <div class="collapse menu" id="menu">

            <ul class="nav navbar-nav">
            <li class="nav-item"><a href="#">Leagues</a>
                <ul class="sub-menu ">
                    <li><a href="http://www.tdmpffl.com">TDMPFFL</a></li>
                    <li><a href="homeftg">For The Girls</a></li>
                </ul>
            </li>
            {% if session["loggedin"] %}
            <li class="active nav-item"><a href="/logout">Logout</a></li>
            {% else %}
            <li class="active nav-item"><a href="login">Login</a></li>
            {% endif %}
        </ul>
            <li><a href="premium">Sign Up</a>
            </li>
            <li class="nav-item"><a href="about">About</a></li>
        </ul>
    </div>
    </div>
{% endblock %}
<!--plays the video in the background -->
<div class="bodyblock">
    {% set video_id= range(1, 4)|random %}
    <video style="opacity:0.8" autoplay loop>
        <source src="/../static/landingpage{{ video_id }}.mp4" type="video/mp4" >
        </video>

        <div class="opacity">
        </div>
        <div>
{% block body %}
            <div class="container-fluid stat-text">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="top5">Quarterback</h1>
                            {% for p in quarterback_result %}
                            <li class="main-text">{{p}}</li>
                            {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12">

                        <h1 class="top5">Receiving</h1></th>
                            {% for p in receiving_result %}
                            <li class="main-text">{{p}}</li>
                            {% endfor %}
                    </div>
                    <div class="col-md-2 col-xs-12 week">
                            <br /><br /><br /><h1 class="top">Week 16</h1>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <h1 class="top5">Running Backs</h1>
                            {% for p in rushing_results %}
                            <li class="main-text">{{p}}</li>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}


 <!-- Modal LOGIN -->
 <div class="modal fade" id="ModalLogin" role="dialog">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Login:</h4>
       </div>
       <div class="modal-body">
       <form action="/submitlogin" method="POST"><label for="username">Username:&nbsp;</label><br>
           <input type="text" name="username">
           <p></p><p>
           <label for="password">Password:&nbsp;</label><br>
           <input type="password" name="password"></p>
           <p>
             <button type="submit">Log In</button>
           </p>
       </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 <!-- Modal REGISTER -->
 <div class="modal fade" id="ModalRegister" role="dialog">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Register:</h4>
       </div>
       <div class="regsiter modal-body">
       <form action="/register" method="POST">
           <p>
          <label for="firstname">First Name: &nbsp;</label><input type="text" name="firstname">
          &nbsp; &nbsp; &nbsp;
          <label for="lastname">Last Name: &nbsp;</label><input type="text" name="lastname"><br /><br />
         <label for="username">Username:&nbsp; </label> <input type="text" name="username">
          &nbsp; &nbsp; &nbsp;
          <label for="password">Password:&nbsp; </label><input type="password" name="password"><br /><br />
           <label for="leaguesite">League Site: (ie NFL.com, ESPN, Yahoo) &nbsp;</label><br>
           <input type="text" name="leaguesite"><br /><br />
           <label for="leagueID">League Id: &nbsp;</label><input type="text" name="leagueID">
           &nbsp; &nbsp; &nbsp;
           <label for="leaguename">League Name: &nbsp;</label><input type="text" name="leaguename">
           <p>
             <button type="submit">Register </button>
           </p>
       </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>


</body>

<!-- <script type="text/javascript"> $(function() {

// onload
if(document.body.clientWidth >= 775) {
    console.log("set autoplay true");
    $('video').get(0).play();
    $('video').attr('loop','loop');
}

// If you want to autoplay when the window is resized wider than 780px
// after load, you can add this:

$(window).resize(function() {
    console.log("resize set autoplay true");
    if(document.body.clientWidth >= 776) {
        $('video').get(0).play();
        $('video').attr('loop','loop');
    }
});
});
</script> -->
</html>
