<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Fantasy Stuff</title>
    <link rel="stylesheet" href="static/landing.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="static/logos/10831-american-football.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-fixed-top">
            <div class="nav">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="#">Leagues</a>
                        <ul class="sub-menu ">
                            <li><a href="/tdmpffl/templates/home.html">TDMPFFL</a></li>
                            <li><a href="#">For The Girls</a></li>
                            <li><a href="#">Wild Peach HQ</a></li>
                        </ul>
                    </li>
                    <li class="active nav-item"><a href="#ModalLogin" data-toggle="modal" data-target="#ModalLogin">Login</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <a href="/" class="" style="transform: scale(1); "><img style="height: 172px; width: 160px;" src="static/logos/fflogo.png" class="logonav"></a>
                </ul>
                <ul class="nav navbar-nav nav-item">
                    <li><a href="#">Sign Up</a>
                        <ul class="sub-menu">
                            <li><a href="#ModalRegister" data-toggle="modal" data-target="#ModalRegister">Register - Free</a></li>
                            <li><a href="#">Register -Premium</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#">About</a></li>
                </ul>
            </div>
        </nav>
        {% block body %}

<!--plays the video in the background -->
<div>
        {% set video_id= range(1, 4)|random %}
        <video style="opacity:0.8" autoplay loop>
        <source src="static/landingpage{{ video_id }}.mp4" type="video/mp4">
        </video>

    <div class="opacity">
    </div>
    <div>
        <!-- <p class="text">Week 16 top 5 by positions</p> -->
        <div class="container-fluid stat-text">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="top5">Quarterback</h1>
                        {% for p in quarterback_result %}
                        <li>{{p}}</li>
                        {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <h1 class="top5">Receiving</h1></th>
                        {% for p in receiving_result %}
                        <li>{{p}}</li>
                        {% endfor %}
                </div>
                <div class="col-md-2 col-xs-12">
                    <h1 class="top5">Week 16</h1>
                </div>
                <div class="col-md-5 col-xs-12 top5">
                    <h1 class="top5">Running Backs</h1>
                        {% for p in rushing_results %}
                        <li>{{p}}</li>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}


 <!-- Modal LOGIN -->
 <div class="modal fade" id="ModalLogin" role="dialog">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Login:</h4>
       </div>
       <div class="modal-body">
       <form action="/submitlogin" method="POST"><label for="username">Username</label><br>
           <input type="text" name="username">
           <p>
           <label for="password">Password</label><br>
           <input type="password" name="password"></p>
           <p>
             <button type="submit">Log In</button>
           </p>
       </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 <!-- Modal REGISTER -->
 <div class="modal fade" id="ModalRegister" role="dialog">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Register:</h4>
       </div>
       <div class="regsiter modal-body">
       <form action="/register" method="POST">
           <p>
          <label for="firstname">First Name</label><br>
          <input type="text" name="firstname">
        </p>
        <p>
          <label for="lastname">Last Name</label><br>
          <input type="text" name="lastname">
        </p><label for="username">Username</label><br>
           <input type="text" name="username">
           <p>
           <label for="password">Password</label><br>
           <input type="password" name="password"></p>
           <p>
             <button type="submit">Register </button>
           </p>
       </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

</body>

</html>
