{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" href="/static/css/standings.css">
{% endblock %}

{% block body_top %}
{%  endblock %}

{% block body %}


<table>
    <tr>
        <th>Team</th>
        <th>Owner</th>
        <th>Points for</th>
        <th>Win</th>
        <th>Loss</th>
    </tr>

    {% for team in result_list %}
    <tr>
        <td>{{ team.team }}</td>
        <td>{{ team.owner }}</td>
        <td>{{ team.points_for }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.loss }}</td>
    </tr>
    {% endfor %}
</table>





{% endblock %}


