{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" href="/static/css/standings.css">
{% endblock %}

{% block body_top %}
{%  endblock %}

{% block body %}


<table>

    <tr>
        <th>Team</th>
        <th>Owner</th>
        <th>Points for</th>
        <th>Win</th>
        <th>Loss</th>
    </tr>
    {% for owner in result_list %}
    <tr>
        <td>{{ owner.team }}</td>
        <td>{{ owner.owner }}</td>
        <td>{{ owner.points_for }}</td>
        <td>{{ owner.wins }}</td>
        <td>{{ owner.loss }}</td>
    </tr>
    {% endfor %}

</table>





{% endblock %}


