{% extends "landing.html" %}

{% block stats %}
<div>
    <video style="opacity:0.8" autoplay loop>
        <source src="static/testnflfilmssmall.mp4" type="video/mp4">
    </video>
    <div class="opacity">
    </div>
    <div class="text">
        <p>Fantasy Champs</p>
        <div class="container-fluid stat-text">
            <div class="row">
                <div class="col-md-12">Quarterback
                </div>
                {% for qb in quarterbacks_list %}
                {(%s %d of %d passing for %d yards and %d TDs)} % (qb, qb.passing_comp, qb.passing_att, qb.passing_yds, qb.passing_tds)

            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">Receivers
                </div>
                <div class="col-md-6 col-xs-12">Runningbacks
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
